/plots/*.png
.idea
/r6715_python_packages/share/testdata/
/r6715_python_packages/share/calc_weights.py
/r6715_python_packages/share/compare_sinclair_and_jules_p0.py
/r6715_python_packages/share/convertpoints2grid.py
/r6715_python_packages/share/fluxnet_evaluation.py
/r6715_python_packages/share/huntingford2015_equations.py
/r6715_python_packages/share/README
/r6715_python_packages/share/soil_cosby_parameters.py
/r6715_python_packages/share/soil_hydrology.py
/r6715_python_packages/share/soil_water_stress_factors.py
/r6715_python_packages/share/test_calc_weights.py
/r6715_python_packages/share/test_fluxnet_evaluation.py
/r6715_python_packages/share/test_huntingford2015_equations.py
/r6715_python_packages/share/test_soil_cosby_parameters.py
/r6715_python_packages/share/test_soil_hydrology.py
/r6715_python_packages/share/test_soil_water_stress_factors.py
/r6715_python_packages/share/make_time_coord.py
